## Pliki
{% assign dir = moduleName | append: 'src' | append: '/' %}
{% assign moduleNameSize = moduleName | append: 'src/' | size %}
<ul>
    {% for file in site.static_files %}
        {% assign dir2 = file.path | slice: 0, moduleNameSize  %}
        {% unless file.path contains 'hidden' %}
            {% if dir2 == dir and file.extname == '.java' %}
                <li>
                    <div><a href="src/{{file.path | remove: dir}}">{{file.path | remove: dir}}</a></div>
                </li>
            {% endif %}
        {% endunless %}
    {% endfor %}
</ul>
