## Pliki
{% assign dir = moduleName | append: 'src' | append: '/' %}
{% assign moduleNameSize = moduleName | append: 'src/' | size %}
<ul>
    {% for file in site.static_files %}
        {% assign dir2 = file.path | slice: 0, moduleNameSize  %}
        {% package = file.path | remove: dir | slice: 0, 5 %}
        {% if dir2 == dir and file.extname == '.java' and package != 'hidden' %}
            <li>
                <div><a href="src/{{file.path | remove: dir}}">{{package}}-{{file.path | remove: dir}}</a></div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
