## Labs

{% assign dir = '/src/chapter' | append: chapterNumber | append: '/' %}
{% assign labFileSrc = 'lab' | append: chapterNumber | append: chapterNumber | append: '.md' %}
<ul>
    {% for file in site.static_files %}
    {% assign dir2 = file.path | slice: 0, 14 %}
    {% assign labNumber = file.path | slice: 19, 20 %}
    {% assign labName = 'Lab ' | append: chapterNumber | append: '-' | append: '1' %}
    {% if dir2 == dir and file.extname == '.md' %}
    <li>
        <div><a href="{{file.path | remove: dir}}">{{labName}}</a></div>
    </li>
    {% endif %}
    {% endfor %}
</ul>