## Labs

{% assign dir = '/src/chapter' | append: chapterNumber | append: '/' %}
{% assign labFileSrc = 'lab' | append: chapterNumber | append: chapterNumber | append: '.md' %}
<ul>
    {% for file in site.pages %}
    {% assign dir2 = file.url | slice: 0, 14 %}
    {% assign labNumber = file.url | slice: 19, 20 %}
    {% assign labName = 'Lab ' | append: chapterNumber | append: '.' | append: labNumber %}
    {% if dir2 == dir %}
    <li>
        <div><a href="{{file.url | remove: dir}}">{{labName}}</a></div>
    </li>
    {% endif %}
    {% endfor %}
</ul>